body {
	margin: 0;
	padding: 0;

	font-family: "Roboto-Medium","Arial",sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 16px;
	line-height: 30px;
	color: #000000;

	background-color: #eeeeee;
}

.site-navigation,
.user-navigation {
	list-style: none;
}

.site-navigation a,
.user-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation